<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title><%=title%></title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%- product.product_name %></h2> 
			<% if (logueado && userid == product.user_id) { %>
			<a href="/product/edit/<%=product.id%>"><input type="submit" value="Editar"></a>
			<form action="/product/borrar" method="POST">
				<input type="hidden" name="id" value="<%= product.id %>">
				<input type="submit" value="Borrar">
			</form>
			<% } %>
		</div>
		<div class="product-detail">
			<br>
			<a href="/user/id/<%-product.Usuario.id%>" class="avisosBlanco">Usuario: <%- product.Usuario.username%></a>

			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= product.image_url%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%- product.description %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let coment of product.Comentarios){ %>
							<article>
								<img src="<%= coment.comentarios.pp %>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/user/id/<%=coment.comentarios.id%>"><%- coment.comentarios.username %> </a> </strong>
									 <%- coment.commentary %></p>
								</div>
							</article>
							<% } %>
						<form class="form" action="/product/comentario" method="POST">
							<input type="hidden" name="id" value="<%= product.id %>">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
							<button type="submit" class="buy-now-button" value="">Agregar Comentario</button>
						</form>
					</section>
				</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>