<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title><%=title%></title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi Perfil</h2>
				<form class="registracion"> 
					Nombre: <input type="text" id="nombre">
					<br><br>
					Fecha de nacimiento: <input type="text" id="apellido">
					<br><br>
					Correo Electrónico: <input type="text" id="correo">
					<br><br>
					Usuario: <input type="text" id="username">
					<br><br>
					Contraseña Actual: <input type="password" id="actpassword">
					<br><br>
					Nueva Contraseña: <input type="password" id="newpassword">
					<br><br>
				</form>
				<button type="submit" name="">
					<a href="/profile">Confirmar</a> 
				</button>
				<br><br><br>
				<form action="/user/borrar" method="POST">
					<input type="hidden" name="id" value="<%= userid %>">
					<input type="hidden" name="username" value="<%= recordarme %>">
					<input type="submit" value="Borrar">
				</form>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>